body,
html {
  font-family: "Prompt", sans-serif;
  margin: 0;
  padding: 0;
}
/* Start Header Style Section */

.logo {
  vertical-align: middle;
  display: inline-block;
 height: 100px;
}

.logo img {
  height: 100%;
}

.navbarme {
  width: 100%;
  text-align: center;
  font-size: 15px;
  position: fixed;
  z-index: 99;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  background-color: white;
}

.navbarme ul {
  list-style: none;
  padding: 14px 17px;
  margin: 0;
}

.navbarme li {
  display: inline-block;
  padding: 0 1.5rem;
}

.navbarme ul li a {
  text-decoration: none;
  color: #333333;
}
.navbarme ul li a:hover {
  text-decoration: none;
  color: #0056b3;
  padding-bottom: 5px;
  border-bottom: 5px solid #213a8f;
}
.navbarme ul li a:focus {
  outline: none;
}

.navbar__mobile {
  display: none;
}

@media (max-width: 577px) {
  .navbarme {
    display: none;
  }
  .navbar__mobile{
   
    display: block;
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 99;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  }
  .brand {
    height: 48px;
    width: 35px;
  }

  .hamburger {
    height: 60px;
  }

  .navbar__mobile nav {
    padding: 0 0.5rem;
    margin: 0;
  }
}

/* End Header Style Section */

/* 
  Start Banner Style Section 
 */

main {
  margin: 0 5rem;
  margin-top: 0.5rem;
}

@media (max-width: 577px) {
  main {
    margin: 0 1.5rem;
  }
}
.banner {
  padding-top: 50px;
}

.banner .cover-img-1 {
  background: url("https://www.ชิมช้อปใช้.com/img/hero_banner/banner-left.png") no-repeat;
}
@media (max-width: 577px) {
  .banner .cover-img-1 {
    background: url("https://www.ชิมช้อปใช้.com/img/hero_banner/banner-left-s.png") no-repeat;
  }
}
.banner .cover-img-2 {
  background: url("https://www.ชิมช้อปใช้.com/img/hero_banner/banner-center.png") no-repeat;
}
@media (max-width: 577px) {
  .banner .cover-img-2 {
    background: url("https://www.ชิมช้อปใช้.com/img/hero_banner/banner-center-s.png") no-repeat;
  }
}
.banner .cover-img-2 .logo-box {
  padding: 20px;
  width: 280px;
  margin: auto;
}
@media (max-width: 769px) {
  .banner .cover-img-2 .logo-box {
    width: 146px;
    height: 173px;
  }
}
@media (max-width: 577px) {
  .banner .cover-img-2 .logo-box {
    width: 110px;
    height: 131px;
    padding: 0;
  }
}
.banner .cover-img-2 .logo-box img {
  width: 100%;
  height: 100%;
}
.banner .cover-img-3 {
  background: url("https://www.ชิมช้อปใช้.com/img/hero_banner/banner-right.png") no-repeat;
}
@media (max-width: 577px) {
  .banner .cover-img-3 {
    background: url("https://www.ชิมช้อปใช้.com/img/hero_banner/banner-right-s.png")" no-repeat;
  }
}
.banner .cover-img-1,
.banner .cover-img-2,
.banner .cover-img-3 {
  height: 350px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 769px) {
  .banner .cover-img-1,
  .banner .cover-img-2,
  .banner .cover-img-3 {
    height: 242px;
  }
}
@media (max-width: 577px) {
  .banner .cover-img-1,
  .banner .cover-img-2,
  .banner .cover-img-3 {
    height: 221px;
  }
}
/* 
  End Banner Style Section 
  */

.since {
  text-align: center;
}

#since__duration {
  font-weight: bold;
}

@media (max-width: 577px) {
  #since__duration {
    font-size: 30px;
  }
}

.period {
  padding-bottom: 1rem;
  text-align: center;
  position: relative;
  height: 30%;
}

.period .line {
  color: #000;
  width: 100%;
  position: absolute;
  bottom: 30px;
  z-index: -1;
  border-bottom: 1px solid grey;
}

.period__box {
  border: 0px solid black;
  position: relative;
  padding: 1rem;
  top: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background: #213a8f;
  color: white;
  box-shadow: 0 15px 30px 0 rgba(28, 78, 132, 0.4);
}

.period__box:hover {
  background-color: #fbbc33;
  box-shadow: none;
}

@media (max-width: 577px) {
  .period {
    padding: 1rem 0rem;
  }
  .period__box {
    width: 100%;
    position: static;
    background-color: #fbbc33;
  }
  .period__box h4 {
    font-size: 16px;
  }
}

.measure {
  padding: 3rem;
}

.measure article h1 {
  color: red;
}

.measure article p {
  width: 70%;
}

@media (max-width: 577px) {
  .measure article p {
    width: 70%;
  }
  .measure {
    padding: 0rem;
  }
  .measure article h1 {
    font-size: 20px;
  }
}

.supported {
  width: 100%;
  padding: 0rem 0;
}

.supported ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.supported ul li {
  display: inline-block;
}

@media (max-width: 577px) {
  .supported ul li img {
    width: 200px;
  }
}

.sponsors ul {
  list-style: none;
  text-align: center;
  padding: 3rem 0;
}

.sponsors ul li {
  display: inline-block;
  /* padding: 0 3rem; */
  width: 15%;
}

.sponsors ul li img {
  height: 102px;
}

@media (max-width: 577px) {
  .sponsors ul li {
    display: inline-block;
    padding: 0 0rem;
    margin: 0;
    width: 30%;
  }
  .sponsors ul li img {
    height: 56px;
  }
}

.footer {
  padding: 30px;
  background: #fafafa;
  margin: auto;
  width: 100%;
}

.footer ul {
  width: 100%;
  margin: auto;
  text-align: center;
}

.footer ul li p {
  text-align: left;
}

.footer ul h4 {
  text-align: left;
  font-size: 1rem;
  color: #e6332a;
}

.footer ul li {
  list-style: none;
  font: inherit;
  display: inline-block;
  height: 200px;
  vertical-align: middle;
  padding: 0 3rem;
}

@media (max-width: 577px) {
  .footer ul li {
    text-align: left;
    display: block;
    height: 100%;
    padding: 0.5rem 0;
    /* margin: 0 1.5rem; */
    vertical-align: middle;
  }
  .footer ul li h4 {
    font-size: 15px;
  }
  .footer ul li p {
    font-size: 14px;
  }
}

footer {
  background: #213a8f;
  margin: 0;
}
footer ul {
  list-style: none;
  text-align: center;
  margin: 0;
}

footer ul li {
  display: inline-block;
  padding: 8px 16px 8px 0;
  height: 100%;
  width: 20%;
  color: white;
  font-size: 14px;
}

@media (max-width: 577px) {
  footer ul {
    text-align: left;
  }
  footer ul li {
    display: block;
    height: 100%;
    text-align: left;
    font-size: 12px;
    width: 100%;
    padding: 0.5rem 2rem;
  }
}
